In [1]:
import pandas as pd
import numpy as np
import itertools as it
import random

### Generate Mocking Data

For better illustration:

In [2]:
def gen_mock_zone_list():
    cardinal_direction_base = ['north', 'south', 'east', 'west']
    cardinal_direction_derivative = [ a+b for a,b in it.product(cardinal_direction_base[:2], cardinal_direction_base[-2:]) ]
    cardinal_direction = cardinal_direction_base + cardinal_direction_derivative

    region_section = ['a', 'b']
    region_sub_section = [[''], ['1'], ['1', '2']]

    prefix = 'ap'
    
    return [ f'{prefix}-{card}-{str(subreg) + reg}'
            for card in cardinal_direction
            for subreg in random.choice(region_sub_section)
            for reg in region_section
           ]

In [3]:
def get_ecs_category_list():
    return """
    CPU_CREDIT
    CPU_EXCLUSIVE
    CPU_EXCLUSIVE(ne)
    CPU_SHARE        
    """.split()

In [4]:
def get_months_list(from_year=2017, to_year=2018,
                    from_yearmonth=None, to_yearmonth=None,
                    missing_rate=0):
    
    def gen_month_seq(from_year, to_year):
            year = list(range(from_year, to_year+1))
            month = list(range(1, 13))
            return [ f'{y:4d}{m:02d}'
                    for y in year
                    for m in month
                   ]
        
    if from_yearmonth is not None and to_yearmonth is not None:
        month_list = gen_month_seq(int(from_yearmonth[:-2]), int(to_yearmonth[:-2]))
        month_list = np.array(month_list)
        month_list[ (month_list >= from_yearmonth) & (month_list <= from_yearmonth)]
        month_list = month_list.tolist()
    else:
        month_list = gen_month_seq(from_year, to_year)
    
    if missing_rate == 0:
        return month_list
    else:
        return sorted(random.sample(month_list, int(len(month_list)*(1-missing_rate))))

In [5]:
def get_mock_data(missing_rate=.2, ncpu_core_range=(1,64), grouped=False):
    zone_list = gen_mock_zone_list()
    ncpu_core_list = random.randint(*ncpu_core_range)
    ecs_category_list = get_ecs_category_list()
    df = pd.DataFrame(columns=['az_no', 'ecs_category_3_en', 'Week', 'n_cores'])
    i = 0
    for az in zone_list:
        for cat in ecs_category_list:
            for week in get_months_list(missing_rate=random.uniform(0, missing_rate)):
                df.loc[i] = [az, cat, week, random.randint(*ncpu_core_range)]
                i += 1
    if grouped:
        return df.set_index(['az_no', 'ecs_category_3_en', 'Week'])
    return df

In [6]:
df = get_mock_data(grouped=True)

In [7]:
df

                                         n_cores
az_no           ecs_category_3_en Week
ap-north-a      CPU_CREDIT        201701      20
                                  201702      62
                                  201703      63
                                  201704      26
                                  201705      44
                                  201706      37
                                  201707       3
                                  201708      31
                                  201709      46
                                  201710      40
                                  201712      57
                                  201801      47
                                  201802       6
                                  201803      53
                                  201804      60
                                  201805      21
                                  201806      44
                                  201807      48
                                  201808      51
                                  201809      34
                                  201810      51
                                  201811      41
                                  201812       1
                CPU_EXCLUSIVE     201702      49
                                  201703      63
                                  201704      48
                                  201705      20
                                  201706      16
                                  201707      11
                                  201708      35
...                                          ...
ap-southwest-1b CPU_EXCLUSIVE(ne) 201803      24
                                  201804      46
                                  201805      19
                                  201806      29
                                  201807      59
                                  201808      15
                                  201809      13
                                  201810      35
                CPU_SHARE         201701      29
                                  201702      12
                                  201703      16
                                  201704       4
                                  201705       2
                                  201706      25
                                  201707      32
                                  201709      52
                                  201710      11
                                  201711      62
                                  201712      30
                                  201801      51
                                  201802      49
                                  201803      47
                                  201804      48
                                  201805       3
                                  201806      46
                                  201808      61
                                  201809      56
                                  201810      27
                                  201811      58
                                  201812      45

[1679 rows x 1 columns]

### Fill Missing "Dates" inplace

In [8]:
df_plain = df.reset_index()

zone_cat = df_plain.groupby(['az_no', 'ecs_category_3_en']).groups.keys()

week_range = (df_plain['Week'].min(), df_plain['Week'].max())
full_week_list = get_months_list(from_yearmonth=week_range[0], to_yearmonth=week_range[1])

full_index = [ (zone, cat, week) 
             for zone, cat in zone_cat
             for week in full_week_list ]

In [9]:
df_full = df.reindex(full_index).fillna(0)

In [10]:
( df_full.shape, df.shape )

((1920, 1), (1679, 1))

In [11]:
df_full

                                     n_cores
az_no      ecs_category_3_en Week
ap-east-1a CPU_CREDIT        201701       21
                             201702       33
                             201703       14
                             201704       24
                             201705       45
                             201706        7
                             201707       14
                             201708        0
                             201709       11
                             201710       17
                             201711       19
                             201712       37
                             201801       25
                             201802       13
                             201803       49
                             201804       18
                             201805       32
                             201806       63
                             201807       53
                             201808       41
                             201809       26
                             201810        0
                             201811        7
                             201812       39
           CPU_EXCLUSIVE     201701       50
                             201702        0
                             201703       37
                             201704       14
                             201705       64
                             201706        9
...                                      ...
ap-west-b  CPU_EXCLUSIVE(ne) 201807        5
                             201808        0
                             201809       50
                             201810       26
                             201811       19
                             201812        1
           CPU_SHARE         201701       55
                             201702       23
                             201703       14
                             201704        0
                             201705       28
                             201706       43
                             201707        0
                             201708       30
                             201709        8
                             201710       20
                             201711       19
                             201712       46
                             201801       14
                             201802       64
                             201803       43
                             201804       48
                             201805       56
                             201806       33
                             201807       38
                             201808        0
                             201809       37
                             201810       50
                             201811       30
                             201812       24

[1920 rows x 1 columns]